body{
    background-color: black !important;
    color: white !important;
}

.navbar.bg-light{
    background-color: #b9a0e3 !important;
}

.btn-primary{
    background-color: #b9a0e3 !important;
    color: #000080 !important;
    border-color: #b9a0e3 !important;
}

.btn-secondary{
    background-color: #000080 !important;
    color: #b9a0e3 !important;
    border-color: #000080 !important;
}

.btn-primary:hover{
    color: lightblue !important;
}
.btn-secondary:hover{
    color: lightblue !important;
}

.relative.inline-flex{
    background-color: black !important;
    border-color: black !important;
    color: white !important;
}

table{
    border-spacing: 15px 10px;
    border-collapse: separate;
}
td,th{
    padding: 10px 20px;
}

svg{
    width: 20px;
    height: 20px;
}
